@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* nav bar */
.header a{
    color: #fff;
}
.header {
    display: flex;
    justify-content: space-between;

}
.links a, .navbar-brand a{
    font-family: "Afacad Flux", serif;
    font-size: 30px;
    text-decoration: none;
}


.icon_nav {
    display: flex;
}

.links ul  li {
    list-style: none;
}

.links {
    display: none;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
}

.close_nav{
    display: none;
}
/* end */


/* body */

body{
    background-color: #023047;
    color: #fff;
}

/* end */

/* section header-about  */
.right-b img{
    border-radius: 50%;
}

.btn_section a{
    border: 2px solid  #e5dbdb;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    background-color:  #97CDF2;
    color: #fff;
}


/* end */