@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: #0A0119;
  color: #F9F5FF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

